.App {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
col img {
  margin: 5px;
}
.container-home {
  padding-right: 1px;
  padding-left: 1px;
  min-height: 750px;
  margin-right: auto;
  margin-left: auto;
  background-color: #dbc69bf9;
  background-image: url(../src/img/backdropCopy.png);
}
.container-home h2 {
  background-color: #266d61;
  color: beige;
  margin-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px){
  .container-home {
      width: 750px;
  }
  }
@media (min-width: 992px) {
  .container-home {
      width: 970px;
  }
}
@media (min-width: 1200px) {
.container-home {
    width: 920px;
}
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -30px;
}
.home-main-image {
  width: 100%;
}
.home-paragraph h3 {
  color: rgb(99, 49, 49);
}
.red-header {
  color: rgb(99, 49, 49);
}
.home-wine-container {
  padding: 20px;
}
.ok {
  position: absolute;
  /* left: 0;
  right: 0; */
  z-index: -1;

  display: flex;
  margin-top: -30px;
  background: url(../src/img/Barrels.JPG) center;
  background-attachment: fixed;
  background-blend-mode: color-burn;
  width: 100%;
  height: 1400px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


  .jumbotron .h1,.jumbotron h1{color:inherit}
  .jumbotron p{margin-bottom:15px;font-size:21px;font-weight:200}
  .jumbotron>hr{border-top-color:#d5d5d5}
  .container .jumbotron,.container-fluid .jumbotron{padding-right:60px;padding-left:60px} 
  .jumbotron .inner{width: 100%;} 
  .jumbotron .h1, .thumbnail{
    display:block;
    padding:4px;
    margin-bottom:20px;
    line-height:1.42857143;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out
  }
.jumbotron{ 
  margin-top: 8px; 
  overflow: hidden; 
  color:inherit;
  background-color:#e0d09b; 
  background-attachment: 
  fixed; min-height:auto;-webkit-background-size:cover; 
  -moz-background-size:cover; background-size:cover;
  padding: 0px;
  border-bottom: #111118;
  border-bottom-style: groove;
  border-bottom-width: 5px;
}
.jumbotron .inner{
  height: 240px; 
  background:url(./img/backdropBench.png) center bottom no-repeat; 
  display:flex; 
  text-shadow: #28288d;
  justify-content: center; 
  align-items:center; 
  flex-direction: column; 
  
}

/* .jumbotron .inner img{
  position: absolute;
  width: 70%;
  margin-top: 40px; 
  -webkit-filter: drop-shadow(2px 54px 0.9px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(2px 54px 0.9px rgba(0, 0, 0, 0.02));
} */
.jumbotron .inner img{
  position: absolute;
  width: 70%;
  margin-top: -160px; 
  color: transparent;
  -webkit-filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10));
  filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10));
}
.jumbotron .inner  h2{
  font-family: cursive;
  font-size: 26px;
  font-weight: 100;
  text-rendering: geometricPrecision;
  text-decoration-style: double;
  text-underline-position: below;
  text-decoration: overline;
  margin-top: 152px;
  justify-self: flex-end;
  bottom: 0;
  -webkit-filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  filter: drop-shadow(2px 24px 1px rgba(0, 0, 0, 0.062));

}
@media (min-width: 200px) {
  .jumbotron h1{
    font-size:38px; 
    line-height: 0.8;
    text-decoration-line: underline
  }
}
@media (min-width: 400px) {
  .jumbotron h1{
    font-size:55px; 
    line-height: 0.8;
    text-decoration-line: underline
  }
}

@media (min-width: 800px) {
  .jumbotron h1{
    font-size:60px; 
    line-height: 0.8;
    text-decoration-line: none;
  }
  .unlimited{
    font-size:60px; 
    line-height: 0.8;
    text-decoration-line: none;
  }
}
 
@media (min-width:1200px) {
  .jumbotron h1{
    font-size:78px; 
    line-height: 0.8;
  }
  .profile-image {
    background: radial-gradient(#40404b, #111118); 
    width: 56px;
    padding: 20px;
    border-style: solid;
    border-radius: 50%;
  }
  }
  @media screen and (max-width: 800px) { 
    .jumbotron .inner{ background: 0 !important; 
      flex-direction: column !important;
      
    }
  }
  @media screen and (max-width: 980px) { 
    .inner { background-size: 1100px 157px !important;
    }
  }
  @media screen and (max-width: 1200px){ 
    .jumbotron .inner{ background-size: 1180px 169px !important; height: 200px !important;
    }
  }
  .navbar-default {
    position: fixed;
    top: 0;
    border-width: 0 0 1px;
    left: 0;
    right: 0;
    border-radius: 0%;
    z-index: 1030;
  }
nav {
  background: radial-gradient(#376b5e, #386b57, #1d554c);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
  position: fixed;
}
.navbar-right {
  border-color: rgba(255,255,255,.3);
}
.navbar-nav > li {
  border-left-color: rgba(9, 29, 8, 0.226);
  border-left-style: solid;
  hover {
    background: '#eee';
  }
}
.navbar-nav > li:hover{
  background-color: rgb(167, 58, 58);
}
NavItem :hover{ 
  background-color: blue;
}
.navbar-default .navbar-nav > li > a {
  color: beige;
}
.navbar-default .navbar-nav > li > a > a {
  color: beige;
}
/* .nav-home-link {
  border-left-color: rgba(9, 29, 8, 0.226);
  border-left-style: solid;
} */
.navbar-default .navbar-nav > li > a :hover{
  /* color: rgb(231, 81, 64); */
  background-color: none;
}
.navbar-default .navbar-brand {
  color: beige;
}