.contact-form-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .contact-main-image{
        display: inline;
        margin: 0;
        margin-top: 20px;
        width: 100%
    }
}



