.header{
    position: relative;
    right: 0;
    width: 100%;
    z-index: 5000;
    margin-bottom: 0; 
    margin-top: 0;
    border-bottom: 0;
    height: 175px;
}

.jumbotron .inner .lu-logo{
    position: absolute;
    // width: 100%;
    margin-top: 35px; 
    margin-left: 2px;
  }

.jumbotron .inner .lu-logo {
    left: 0;
  }

  .bench{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
  }

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; // Ensure the navbar is above other content
  }

  .lu-navbar{
    background: #376b5e !important;
    z-index: 9999;
  }

.nav-link{
    text-transform: uppercase;
    color: #fff !important;
    letter-spacing: 2px;
    font-size: 1em;
    padding: 8px 26px;
    transition: .4s;
    color: inherit;
    border: 1px solid transparent;
    display: block;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    padding: 8px 26px;
    transition: .4s;
    font-family: 'Merriweather', serif;
    -webkit-font-smoothing: antialiased;
  }

  .nav-link:hover{
    border-bottom: 1px #fff solid;
  }

  .navbar-brand{
    color: #fff !important;
    font-family: 'Merriweather', serif;
  }

  .navbar-custom-nav {
    display: flex;
    justify-content: center; /* Distribute space between items */
    width: 100%; /* Ensure the nav takes full width of its container */
  }
  
//   .navbar-custom-nav .nav-link {
//     flex: 1; /* Allow links to grow and fill the space evenly */
//     text-align: center; /* Center text within each link */
//   }

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}