@import 'variables';

.App {
    text-align: center;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  html,body {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
  body {
    background: url(../../src/img/the-barrels.JPG)  no-repeat;
    //background: url(../../src/img/holding-wine-glasses.jpeg)  no-repeat;

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -22;
    width: 100%;
  }

  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55); /* Adjust the darkness level with opacity (0.5 = 50% darkness) */
    z-index: -1;
    background-color: hsl(17deg 73.18% 7.91% / 55%);
  }

  h1, h2 {
    font-family:'Abril Fatface', cursive;
  }
  col img {
    margin: 5px;
  }
  .content-row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #content-row2{
    flex-direction: column-reverse;
  }
  .content-row div {
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content-row img {
    align-self: center;
  }
  .content-row h3 {
    text-align: center;
  }
  
  .webNavRight {
    display: none;
  }
  .navbar-default{
    padding: 0px;
  }
  .totalPercentage {
    color: green;
  }
  #percent {
    max-width: 93px;
  }
  @media (min-width: 769px){
    .container{
      min-width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  @media (min-width: 768px){
    .navbar-default{
      width: 100%;
      padding: 0px;
    }
    .webNavRight {
      display: flex;
      flex-direction: row;
    }
  }
  @media (min-width: 850px){
    .container{
      min-width: 95%;
      margin-left: 10px;
      margin-right: 10px;
    }
      
    .content-row {
      margin-right: -15px;
      margin-left: -15px;
      display: flex;
      flex-direction: row;
    }
    #content-row2{
      flex-direction: row;
    }
    .ok {
      height: 1250px;
    }
  }
  @media (min-width: 992px) {
    .container{
      min-width: 65%;
      margin-left: 15px;
      margin-right: 15px;
      
    }
    .ok {
      height: 1250px;
    }
  }
  @media (min-width: 1200px) {
  .container{
    min-width: 80%;
  }
  .ok {
    height: 1250px;
  }
  }
 
  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    height: auto;
    max-height: 400px;
  }

  .image-container-contact {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -30px;
  }
  .home-main-image {
    width: 100%;
  }
  .home-paragraph h3 {
    color: rgb(99, 49, 49);
  }
  .red-header {
    color: rgb(99, 49, 49);
  }
  .jumbotron .h1,.jumbotron h1{color:inherit}
  .jumbotron p{margin-bottom:15px;font-size:21px;font-weight:200}
  .jumbotron>hr{border-top-color:#d5d5d5}
  .container .jumbotron,.container-fluid .jumbotron{padding-right:60px;padding-left:60px} 
  .jumbotron .inner{width: 100%;} 
  .jumbotron .h1, .thumbnail{
    display:block;
    padding:4px;
    margin-bottom:20px;
    line-height:1.42857143;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:border .2s ease-in-out;
    -o-transition:border .2s ease-in-out;transition:border .2s ease-in-out
  }
  .jumbotron{ 
    margin-bottom: 30px; 
    color:inherit;
    background-color:#e0d09b; 
    background-attachment: fixed; 
    min-height:auto;
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    background-size:cover;
    padding: 0px;
    border-bottom: #111118;
    border-bottom-style: groove;
    border-bottom-width: 5px;
  }
  .jumbotron .inner{
    background:url(../img/backdrop-bench.png) bottom no-repeat; 
    background-size: cover;
    display:flex; 
    align-items:center; 
    flex-direction: column; 
    background-position: right 25% top;
    height: inherit;
  }
  
  .jumbotron .inner  h2{
    font-family: cursive;
    font-size: 22px;
    font-weight: 100;
    text-rendering: geometricPrecision;
    text-decoration: overline;
    margin-top: 140px;
    justify-self: flex-end;
    bottom: 0;
  }
  #planning {
    min-height: 200px;
    width: 75%;
    margin: auto;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar>.container{
    min-width: 95%;
  }
  button {
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
  }
  .icon-bar {
    width: 22px;
    height: 2px;
    background-color: rgb(61, 8, 10) !important;
    display: block;
    line-height: inherit;
    margin: 4px;
  }
  .collapse {
    display: none;
  }
  .narrowLinks{
    display: none;
    margin-right: -15px;
    margin-left: -15px;
    overflow-y: auto;
    padding-right: 15px;
      padding-left: 15px;
      overflow-x: visible;
  }
  .narrowLinks a {
    display: block;
  }
  .navCategories{
    display: none;
  }
  .navCategories a{
    display: block;
  }
  .navNarrow {
    padding: 8px 2px;
    display: none;
    position: relative;
  }
  .navNarrow :hover{
    background-color: $secondary_color;
  }
  .style1{
    background-color: rgba(61, 8, 10, 0.043);
  }
  @media (min-width: 200px) {
    .jumbotron h1{
      font-size:38px; 
      line-height: 0.8;
      text-decoration-line: underline
    }
  }
  @media (max-width:350px){
    .navbar-header>.navbar-brand{
      font-size: 18px;
    }
    .jumbotron h2{
      font-size: 20px;
    }
    #planning {
      height: 855px;
    }
  }
 
  @media (min-width:1200px) {
    .jumbotron h1{
      font-size:78px; 
      line-height: 0.8;
    }
    .profile-image {
      background: radial-gradient(#40404b, #111118); 
      width: 56px;
      padding: 20px;
      border-style: solid;
      border-radius: 50%;
    }
    .jumbotron .inner .lu-logo{
      position: absolute;
      width: 600px;
      margin-top: 10px; 
      }
    }
   
    @media screen and (max-width: 450px) { 
     
      .table td, .table th{
        padding: 5px;
      }
    }
    .navbar-default {
      position: fixed;
      top: 0;
      border-width: 0 0 1px;
      left: 0;
      right: 0;
      border-radius: 0%;
      z-index: 1030;
    }
  nav {
    background: $primary_green;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.75);
    position: fixed;
  }
  .navbar-right {
    border-color: rgba(255,255,255,.3);
  }
  .navbar-nav > li {
    border-left-color: rgba(9, 29, 8, 0.226);
    border-left-style: solid;
  }
  .navbar-nav > li:hover{
    background-color: rgb(167, 58, 58);
  }
  .navbar-default .navbar-nav > li > a {
    color: $secondary_color;
    text-align: initial;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 0px;
  }
  .navbar-nav>li>a>a {
    color: $secondary_color;
    padding: 15px 15px 15px 15px;
    width: 100%;
  }
  .navbar-header>.navbar-brand{
    width: 200px;
  }
  .navbar-header{
    width: 160px;
  }
   @media (max-width: 768px) {
    .navNarrow {
      display: block;
      margin-right: -15px;
    }
    .navbar-header>.navbar-brand{
      width: 82%;
    }
    .webNavRight {
      display: none;
    }
    .navbar-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .container>.navbar-header{
      width: 100%;
    }
  } 
    @media (max-width: 528) {
      .navNarrow {
        display: block;
        margin: 0 auto;
    }
  } 
  @media (min-width: 768px) {
    .navbar-default {
      height:53px;
    }
    .navbar-default .navbar-nav > li > a {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .navbar-nav>li>a>a {
      padding: 15px 25px;
    }
    .container>.navbar-collapse {
      display: none!important;
    }
  }
  @media (max-width: 468px) {
    .table>tbody>tr>td {
      padding: 5px;
    }
  }
  .navbar-default .navbar-nav > li > a :hover{
    background-color: none;
  }
  .navbar-default .navbar-brand {
    color: $secondary_color !important;
  }
  div .navbar-default .navbar-brand:focus, div .navbar-default .navbar-brand:hover {
    color: #d5d5d5;
  }
  @media (max-width:350px){
    .navbar-header>.navbar-brand{
      font-size: 18px;
      width: 50%;
    }
    .jumbotron .inner h2{
      font-size: 20px;
    }
  }
  @media (max-width:450px){
    .navbar-header>.navbar-brand{
      width: 87%;
    }
  }
  




  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: $primary_green;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr.even-row {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr.odd-row {
    background-color: #ffffff;
}

.total-percentage {
    font-weight: bold;
    color: #ffffff;
}

.liters-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
