.App {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}
.map {
  height: 300px;
}
body {
  
  /* left: 0;
  right: 0; */
  /* z-index: -1;
  width: 100%;
  height: auto;
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); */
}
#root {
  background: url(../src/img/Barrels.JPG)  no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -22;
  
}

@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
col img {
  margin: 5px;
}
.content-row {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content-row2{
  flex-direction: column-reverse;
}
.content-row div {
  width: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.content-row img {
  align-self: center;
}
.content-row h3 {
  text-align: center;
}

.container-home {
  padding-right: 1px;
  padding-left: 1px;
  min-height: 750px;
  margin-right: auto;
  margin-left: auto;
  background-color: #dbc69bf9;
  background-image: url(../src/img/backdropCopy.png);
}
.container-home h2 {
  background-color: #266d61;
  color: beige;
  margin-top: 1px;
  padding: 5px 20px;
  font-family: serif;
}
.webNavRight {
  display: none;
}
.navbar-default{
  padding: 0px;
}
.ok {
  /* position: absolute; */
  /* left: 0;
  right: 0; */
  /* z-index: -1;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: -30px;
  background: url(../src/img/Barrels.JPG) center;
  background-attachment: fixed;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); */
}
@media (min-width: 769px){
  
  .container{
    min-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  }
@media (min-width: 768px){
  .container-home {
      width: 750px;
  }
  .navbar-default{
    width: 100%;
    padding: 0px;
  }
 
  .webNavRight {
    display: flex;
    flex-direction: row;
  }
  }
  @media (min-width: 850px){
    
    .container{
      min-width: 95%;
      margin-left: 10px;
      margin-right: 10px;
      /* margin-left: 0px;
      padding-left: 10px; */
    }
    
  .content-row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: row;
  }
  #content-row2{
    flex-direction: row;
  }
  .ok {
    height: 1250px;
  }
  }
@media (min-width: 992px) {
  .container-home {
      width: 840px;
  }
  .container{
    min-width: 65%;
    margin-left: 15px;
    margin-right: 15px;
    
  }
  .ok {
    height: 1250px;
  }
}
@media (min-width: 1200px) {
.container-home {
    width: 920px;
}
.container{
  min-width: 80%;
}
.ok {
  height: 1250px;
}
}
#footer{
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  background: radial-gradient(#376b5e, #386b57, #1d554c);
  /* background-image: none; */
  color: beige;
  /* position: absolute; */
  bottom: 0;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -30px;
}
.image-container-contact {
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -30px;
}
.home-main-image {
  width: 100%;
}
.home-paragraph h3 {
  color: rgb(99, 49, 49);
}
.red-header {
  color: rgb(99, 49, 49);
}
.home-wine-container {
  padding: 20px;
}

  .jumbotron .h1,.jumbotron h1{color:inherit}
  .jumbotron p{margin-bottom:15px;font-size:21px;font-weight:200}
  .jumbotron>hr{border-top-color:#d5d5d5}
  .container .jumbotron,.container-fluid .jumbotron{padding-right:60px;padding-left:60px} 
  .jumbotron .inner{width: 100%;} 
  .jumbotron .h1, .thumbnail{
    display:block;
    padding:4px;
    margin-bottom:20px;
    line-height:1.42857143;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:border .2s ease-in-out;
    -o-transition:border .2s ease-in-out;transition:border .2s ease-in-out
  }
.jumbotron{ 
  margin-top: 8px; 
  overflow: hidden; 
  color:inherit;
  background-color:#e0d09b; 
  background-attachment: 
  fixed; min-height:auto;
  -webkit-background-size:cover; 
  -moz-background-size:cover; 
  background-size:cover;
  padding: 0px;
  border-bottom: #111118;
  border-bottom-style: groove;
  border-bottom-width: 5px;
}
.jumbotron .inner{
  height: 200px; 
  background:url(./img/backdropBench.png) center bottom no-repeat; 
  display:flex; 
  /* text-shadow: #28288d; */
  /* justify-content: space-around;  */
  align-items:center; 
  flex-direction: column; 
  
}

/* .jumbotron .inner img{
  position: absolute;
  width: 70%;
  margin-top: 40px; 
  -webkit-filter: drop-shadow(2px 54px 0.9px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(2px 54px 0.9px rgba(0, 0, 0, 0.02));
} */
.jumbotron .inner img{
  position: absolute;
  width: 95%;
  margin-top: 35px; 
  margin-left: 2px;
  /* color: transparent;
  -webkit-filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10));
  filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10)); */
}
.jumbotron .inner  h2{
  font-family: cursive;
  font-size: 22px;
  font-weight: 100;
  text-rendering: geometricPrecision;
  /* text-decoration-style: double; */
  /* text-underline-position: below; */
  text-decoration: overline;
  margin-top: 140px;
  justify-self: flex-end;
  bottom: 0;
  /* -webkit-filter: drop-shadow(1px 1px 1px rgb(0, 0, 0)); */
  /* filter: drop-shadow(2px 24px 1px rgba(0, 0, 0, 0.062)); */
}
#planning {
  height: 800px;
  min-height: 200px;
}
.navbar-toggle {
  display: none;
}
.navbar>.container{
  min-width: 95%;
}
button {
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: rgb(61, 8, 10) !important;
  display: block;
  line-height: inherit;
  margin: 4px;
}
.collapse {
  display: none;
}
.narrowLinks{
  display: none;
  margin-right: -15px;
  margin-left: -15px;
  /* float: left; */
  overflow-y: auto;
  padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
}
.narrowLinks a {
  display: block;
  
}
.navCategories{
  display: none;
}
.navCategories a{
  display: block;
}
.navNarrow {
  padding: 8px 2px;
  /* float: right !important;  */
  display: none;
  position: relative;
}
.navNarrow :hover{
  background-color: beige;
}
@media (min-width: 200px) {
  .jumbotron h1{
    font-size:38px; 
    line-height: 0.8;
    text-decoration-line: underline
  }
}
@media (max-width:350px){
  .navbar-header>.navbar-brand{
    font-size: 18px;
  }
  .jumbotron h2{
    font-size: 20px;
  }
}
@media (min-width: 400px) {
  
}

@media (min-width: 800px) {
  .jumbotron h1{
    font-size:60px; 
    line-height: 0.8;
    text-decoration-line: none;
  }
  .unlimited{
    font-size:60px; 
    line-height: 0.8;
    text-decoration-line: none;
  }
  .jumbotron .inner img{
    margin-top: 35px;
    position: absolute;
    padding-bottom: 20px;
    width: 700px;
    /* margin-top: -160px; 
    color: transparent;
    -webkit-filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10));
    filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10)); */
    }
    .jumbotron .inner  h2{
      font-size: 24px;
      margin-top: 148px;
    }
}
 
@media (min-width:1200px) {
  .jumbotron h1{
    font-size:78px; 
    line-height: 0.8;
  }
  .profile-image {
    background: radial-gradient(#40404b, #111118); 
    width: 56px;
    padding: 20px;
    border-style: solid;
    border-radius: 50%;
  }
  .jumbotron .inner img{
    position: absolute;
    width: 860px;
    margin-top: 30px; 
    /* color: transparent; 
    -webkit-filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10));
    filter: drop-shadow(0px 183px 0.0px rgb(61, 8, 10)); */
    }
  }
  
  
  @media screen and (max-width: 1200px){ 
    .jumbotron .inner{ 
      background-size: 1180px 169px !important; 
      height: 200px;
    }
  }
  @media screen and (max-width: 980px) { 
    .inner { background-size: 1100px 157px;
    }
  }
  @media screen and (max-width: 800px) { 
    .jumbotron .inner{ 
      /* background: 0 !important;  */
      height: 200px ;
      
    }
  }
  @media screen and (max-width: 768px) { 
    .jumbotron .inner{ 
      /* background: 0 !important;  */
      height: 180px ;
      justify-content: space-around;
      
    }
    .jumbotron .inner img{ 
      /* background: 0 !important;  */
      margin-top: 25px;
      width: 110%;
    }
  }
  @media screen and (max-width: 550px) { 
    .jumbotron .inner img{ 
      /* background: 0 !important;  */
      margin-top: 37px;
    }
  }
  @media screen and (max-width: 450px) { 
    .jumbotron .inner{ 
      /* background: 0 !important;  */
      height: 160px ;
      
    }
  }
  .navbar-default {
    position: fixed;
    top: 0;
    border-width: 0 0 1px;
    left: 0;
    right: 0;
    border-radius: 0%;
    z-index: 1030;
  }
nav {
  background: radial-gradient(#376b5e, #386b57, #1d554c);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
  position: fixed;
}
.navbar-right {
  border-color: rgba(255,255,255,.3);
}
.navbar-nav > li {
  border-left-color: rgba(9, 29, 8, 0.226);
  border-left-style: solid;
  /* hover {
    background: '#eee';
  } */
}
.navbar-nav > li:hover{
  background-color: rgb(167, 58, 58);
}
/* NavItem :hover{ 
  background-color: blue;
} */
.navbar-default .navbar-nav > li > a {
  color: beige;
  text-align: initial;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  padding: 0px;
}
.navbar-nav>li>a>a {
  color: beige;
  padding: 15px 15px 15px 15px;
  width: 100%;
}
.navbar-header>.navbar-brand{
  width: 200px;
}
.navbar-header{
  width: 160px;
}
 @media (max-width: 768px) {
  .navNarrow {
    display: block;
    margin-right: -15px;
  }
  .navbar-header>.navbar-brand{
    width: 82%;
  }
  .webNavRight {
    display: none;
  }
  .navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container>.navbar-header{
    width: 100%;
    /* margin: 0px; */
  }
  /* .container {
    height: 44px;
  } */
  } 
  @media (max-width: 528) {
    .navNarrow {
      display: block;
      margin: 0 auto;
    /* width: 100%; */
  }
} 
/* .navbar-default {
  height:53px;
} */
@media (min-width: 768px) {
  .navbar-default {
    height:53px;
  }
  .navbar-default .navbar-nav > li > a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
.navbar-nav>li>a>a {
  padding: 15px 25px;
}
.container>.navbar-collapse {
  display: none!important;
}
}
@media (max-width: 468px) {
 .table>tbody>tr>td {
    padding: 5px;
 }
 
}
/* .nav-home-link {
  border-left-color: rgba(9, 29, 8, 0.226);
  border-left-style: solid;
} */
.navbar-default .navbar-nav > li > a :hover{
  /* color: rgb(231, 81, 64); */
  background-color: none;
}
.navbar-default .navbar-brand {
  color: beige !important;
  /* float: left; */
  
}
div .navbar-default .navbar-brand:focus, div .navbar-default .navbar-brand:hover {
  color: #d5d5d5;
}

@media (max-width:350px){
  .navbar-header>.navbar-brand{
    font-size: 18px;
    width: 50%;
  }
  
  .jumbotron .inner h2{
    font-size: 20px;
  }
}
@media (max-width:450px){
  .navbar-header>.navbar-brand{
    width: 87%;
  }
  
}
